:root {
  --noir: #000000;
  --blanc: #ffffff;
  --gris: #c1c5c1;
  --vertpale: #c1dbbf;
  --vert: #8eac8e;
}

@font-face {
  font-family: Varela;
  src: url(./assets/font/VarelaRound-Regular.ttf) format("truetype");
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(var(--gris), var(--vertpale));
  color: var(--noir);
  font-family: Varela;
}

/*Style des différents container et form*/
div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 241, 233);
  width: 400px;
  height: 500px;
  margin: auto;
  border: 3px var(--vert) solid;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 40px;
  color: var(--blanc);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

div.containerDeux {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;
}

div.containerMenu {
  width: 800px;
  height: 600px;
  margin: auto;
  background-color: rgb(235, 241, 233);
  border: 3px var(--vert) solid;
  backdrop-filter: blur(50px);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--noir);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.containerInformations {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 40px;
}

.containerImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  top: 50px;
}

.containerImage img:nth-child(1) {
  rotate: -25deg;
  padding-bottom: 40px;
  width: 60%;
}
.containerImage img:nth-child(2) {
  position: absolute;
  padding-bottom: 40px;
  z-index: -1;
  width: 150%;
  bottom: -75px;
}

.containerBouton {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*Style des inputs*/
input {
  height: 45px;
  border-radius: 50px;
  border-width: 0;
  color: var(--noir);
  font-weight: bold;
  font-size: 0.85em;
  vertical-align: middle;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgba(157, 175, 152, 0.5);
}

input:nth-child(2) {
  margin-bottom: 8px;
}

#identifiant,
#motdepasse {
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #8eac8e;
  background-color: rgba(105, 124, 100, 0.5);
}

input::placeholder {
  color: var(--blanc);
  opacity: 1;
  font-weight: 400;
  font-family: Varela;
}

/*Style des buttons*/
button {
  cursor: pointer;
  width: 100%;
  height: 45px;
  border-radius: 50px;
  border-width: 0;
  color: var(--blanc);
  font-weight: bold;
  font-family: Varela;
  font-size: 1em;
  vertical-align: middle;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: var(--vert);
  transition: all;
  border: 2px var(--vert) solid;
}

button:hover {
  background-color: var(--vertpale);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#commencerBouton {
  width: 45%;
}

/*Style des différents éléments de textes*/
#nonMembre {
  font-size: 0.88em;
  color: var(--noir);
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: var(--vert);
  margin-bottom: 0;
}

h1 {
  padding-bottom: 5px;
  color: var(--vert);
}

#messageBienvenue {
  padding-bottom: 0;
}

h2 {
  color: var(--noir);
  margin: 0;
  font-size: 1.2em;
}
p.caracteres {
  color: var(--noir);
  margin: 0;
  font-size: 0.75em;
  padding-top: 10px;
  text-align: left;
}

/*Style du logo*/
#logo {
  width: 75px;
  margin: 0;
  position: relative;
}

/* Sondage inputs */
.barreoptions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.barreoptions input {
  accent-color: var(--noir);
}

.containeroptions {
  padding-left: 3px;
}

.menu {
  display: flex;
  direction: row;
  justify-content: space-between;
  background-color: var(--vert);
  padding: 0 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.deconnexion {
  width: 10%;
  color: var(--vert);
  margin: 0;
}

.menu svg {
  fill: var(--blanc);
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.menuAfficher {
  color: var(--blanc)
}
